.colorCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid black;
}
.colorButton {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid rgb(255, 255, 255);
}
.active {
    background-color: rgb(126 34 206);
    color: rgb(255, 255, 255);
  }

.filled-heart {
fill: rgb(206, 25, 25);
stroke: black;
}

